.photo {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
}
.details {
  display: inline-block;
  width: calc(100% - 150px);
}

.PersonalInformation {
  margin: 1.5em 0 0 0;
}
.PersonalInformation .values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2px;
}
.title {
  padding: 2px 0;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid;
}
.values > div {
  padding: 0.1em;
}

@media only screen and (max-width: 600px) {
  .details {
    display: block;
    width: 100%;
  }
}