.Other {
  padding: 2em 0 0 0;
}

.otherskills {
  padding: 5px 2px;
}

.otherskills a:link, .otherskills a:visited {
  color: black;
  vertical-align: middle;
  margin-left: 5px;
}
.otherskills a:hover {
  color: darkgrey;
}
a svg {
  font-size: 2em;
}